body {
  background: #f9f9f9;
}
h4 {
  margin-top: 25px;
}
.row {
  margin: 0;
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

.col-md-4 > .row:first-child {
  margin-top: 0;
}

.col-md-7 
{
  padding: 0 !important;
  height: 602px;
}

[class*="col-"] 
{
  padding: 0;
  background-color: #fff;
  border: 1px solid rgb(48, 136, 48);
  border-radius: 10px 10px 0 0;
}

hr 
{
  margin-top: 40px;
  margin-bottom: 40px;
}

.btn-style {
  border : solid 1px #000000;
  border-radius : 3px;
  moz-border-radius : 3px;
  -webkit-box-shadow : 0px 2px 2px rgba(0,0,0,0.4);
  -moz-box-shadow : 0px 2px 2px rgba(0,0,0,0.4);
  box-shadow : 0px 2px 2px rgba(0,0,0,0.4);
  font-size : 20px;
  text-align: center;
  color : #000000;
  padding : 7px 13px;
  background : #02cf02;
  background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#02cf02), color-stop(100%,#00be00));
  background : -moz-linear-gradient(top, #02cf02 0%, #00be00 100%);
  background : -webkit-linear-gradient(top, #02cf02 0%, #00be00 100%);
  background : -o-linear-gradient(top, #02cf02 0%, #00be00 100%);
  background : -ms-linear-gradient(top, #02cf02 0%, #00be00 100%);
  background : linear-gradient(top, #02cf02 0%, #00be00 100%);
  filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#02cf02', endColorstr='#00be00',GradientType=0 );

}
.bouton
{
  display: inline-block;
  padding: 3px 30px;
  margin: 8px auto;
  border: none;
  color: #fff;
  font-size: 16px;
  background: #57E068;
}
.bouton:hover
{
  background : #02cf02;
}
.col-md-12 > .bouton
{
  display: block;
  margin: 15px auto;
}

div h4
{
    text-align: center;
    margin: 0 0 12px 0;
    background: rgb(87, 224, 104);
    height: initial;
    line-height: 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 12px;
    border-radius: 10px 10px 0 0;
    color:#fbfbfb;
}
.lienConnexion > div
{
  border-radius: 0;
}
.lienConnexion > div > h4
{
  border-radius: 0;
  margin:0;
}

.lienConnexion > div > h4 > a
{
  font-size: 17px;
  display: inline-block;
  padding: 0 15px;
  color: #fff;
  text-decoration: none;
}

#search 
{
  text-align: center;
}

#search input[type="text"] 
{
    /*background: url(../img/search-white.png) no-repeat 10px 6px #fcfcfc;*/
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #222;
    width: 95%!important;
    height: 50px;
    border-radius: none!important;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#search
{
  position: relative;margin-bottom: 12px;
}
#search input[type="text"]:focus 
{
  border-radius: 3px;
}

label 
{
  display: block;
  padding: 0 10px;
  position: relative;
}
label > span
{
  display: inline-block;
  width: 110px;
}
label > input,
label > select
{
  display: inline-block;
  width: 230px;
 height: 30px;
}
ul#autoComplete1, 
ul#autoComplete2
{
  position: absolute;
  z-index: 2;
  left: 129px;
  background: #f9f9f9;
  padding: 0;
  width: 285px;
  max-height: 195px;
  overflow: auto;
}
ul#autoComplete2
{
  max-height: 149px;
}
ul#autoCompleteBdr 
{
  width: 91%;
  position: absolute;
  left: 63px;
  top: 32px;
  padding: 0;
  background: #f9f9f9;
  z-index: 2;
  max-height: 200px;
  overflow: auto;
}
#autoCompleteBdr > li
{
  text-align: left;
}


li {list-style-type: none;}
li:before {
    content: "→ "; /* caractère UTF-8 */
}